html, body {
    font-family: Arial, Helvetica, sans-serif !important;
    height: 100%;
    background-color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    color: #000;
    font-size: 15px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
}

b {
    font-style: bold;
}

.content {
    width: 100%;
    padding: 0px;
    box-sizing: border-box !important;
}

.full-width {
    width: 100%;
}

.clear-css {
    clear: both;
}

.bg_blue_grey {
    background-color: #b0bec5;
}

.bg_grey {
    background-color: #eeeeee; 
}

a, u {
    text-decoration: none;
}

a:hover{
    text-decoration: none;    
}

/* Css for Post Detail */
.post-content {
    position: relative;
}

.post-image-title {
    color: blue;
}

.image-wrapper {
    width: 100%;
    position: relative;
    padding-bottom: 56.2%;
}
  
.image-wrapper img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.border-table th, td{
    padding: 10px;
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

textarea:focus, input:focus{
    outline: none;
}

.content-full-size {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.card-header {
    font-size: 2rem;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 10px;
}

/* Video Controller */
.videoWrapper {
    max-width: 100%;
    margin: 0px 20px;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    box-sizing: border-box;
}
.videoWrapper iframe, video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
}
.videoWrapper .videoWrapper {
	margin: 0px !important;
}

/* BODY CONTENT */
@media (max-width: 991px) {
    .ads-side-zone {
        display: none;
    }
}

.clear {
    clear: both;
}

.image-wrapper {
    max-width: 100%;
    position: relative;
    padding-bottom: 56.2%;
}

.image-wrapper img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.ellipse {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    margin: 0 auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-bg-black {
    color: white !important;
}

.text-bg-black:hover {
    color: #E0E0E0 !important;
}

.border-box {
    box-sizing: border-box !important;
    padding: 0px !important;
    margin: 0px !important;
}

.dashed-bg {
    background-image: -moz-linear-gradient(45deg, #666 25%, transparent 25%), 
        -moz-linear-gradient(-45deg, #666 25%, transparent 25%), 
        -moz-linear-gradient(45deg, transparent 75%, #666 75%), 
        -moz-linear-gradient(-45deg, transparent 75%, #666 75%);
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #666), color-stop(.25, transparent)), 
        -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #666), color-stop(.25, transparent)), 
        -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #666)), 
        -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #666));
    background-image: -webkit-linear-gradient(45deg, #666 25%, transparent 25%), 
        -webkit-linear-gradient(-45deg, #666 25%, transparent 25%), 
        -webkit-linear-gradient(45deg, transparent 75%, #666 75%), 
        -webkit-linear-gradient(-45deg, transparent 75%, #666 75%);
    background-image: -o-linear-gradient(45deg, #666 25%, transparent 25%), 
        -o-linear-gradient(-45deg, #666 25%, transparent 25%), 
        -o-linear-gradient(45deg, transparent 75%, #666 75%), 
        -o-linear-gradient(-45deg, transparent 75%, #666 75%);
    background-image: linear-gradient(45deg, #666 25%, transparent 25%), 
        linear-gradient(-45deg, #666 25%, transparent 25%), 
        linear-gradient(45deg, transparent 75%, #666 75%), 
        linear-gradient(-45deg, transparent 75%, #666 75%);
    -moz-background-size: 2px 2px;
    background-size: 2px 2px;
    -webkit-background-size: 2px 2.1px; /* override value for webkit */
    background-position: 0 0, 1px 0, 1px -1px, 0px 1px;
}
