.main-text {
    color: black;
}

.secondary-text {
    color: gray;
}

.main-text-hover {
    color: black;
}

.main-text-hover:hover {
    color: gray;    
}

.white-text {
    color: white;
}

.white-text-hover {
    color: white !important;    
}

.white-text-hover:hover {
    color: red !important;    
}

.red-text {
    color: red;
}

.header-text {
    color: black !important;
}

.header-text:hover {
    color: blue !important;
}

.remove-text-decoration {
    text-decoration: none !important;
}
